.qoute_component {
  max-width: 1267px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.qoute_divContent {
  max-width: 828px;
  width: 100%;
  margin-left: 5px;
  position: relative;
  border-left: 8px solid #F7DF94;
}

.quote_divQuote {
  max-width: 614px;
  margin-left: 100px;
}

.quote_text {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}
