.villalba_component {
  margin: 208px 0 24px 0;
  text-align: center;
}

.villalba_cretedBy {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.villalba_yo {
  font-weight: 700;
  color: #828282;
}
